@model List<ProductModel>;

@{
    ViewData["Title"] = "Home Page";
    ViewData["Home"] = "Layout for Table"; 
}

<div class="text-center">
    <h1 class="display-4"><b>Table Lesson 5</b></h1>
    <table style="margin: auto; border-collapse: collapse;">
       <tr>
            <th style="border: 1px solid black;">
                <b>Id</b>
            </th>
            <th style="border: 1px solid black;">
                <b>Название</b>
            </th>
            <th style="border: 1px solid black;">
                <b>Описание</b>
            </th>
            <th style="border: 1px solid black;">
                <b>Цена за штуку</b>
            </th>
            <th style="border: 1px solid black;">
                <b>Количество</b>
            </th>
            <th style="border: 1px solid black;">
                <b>Действия</b>
            </th>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr style="border: 1px solid black;">
                <td style="border: 1px solid grey;">@Model[i].Id</td>
                <td style="border: 1px solid grey;">@Model[i].Name</td>
                <td style="border: 1px solid grey;">@Model[i].Description</td>
                <td style="border: 1px solid grey;">@Model[i].PriceForPiece</td>
                <td style="border: 1px solid grey;">@Model[i].Quantity</td>
                <td style="border: 1px solid grey;">@Model[i].Sign</td>
            </tr>
        }
    </table>
</div>

@section Footer
{
    <div> &copy; Наш копирайтинг</div>
}